@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Montserrat:wght@200&family=Permanent+Marker&display=swap");


.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: rgb(179, 176, 176) solid 2px; */
  border-radius: 10px;
  height: 60px;
  width: 120px;
  cursor: pointer;
  text-align: center;
}

.restaurant {
  background-color: #8cbec2;
}

.coffee {
  background-color: #EFC4AE;
}

.nature {
  background-color: #F8CE6D;
}

.activity {
  background-color: #5A7089;
}

.unselected {
  background-color: #eeeeee;
}

.typeOfPlace {
  font-family: Montserrat;
  font-size: 11px;
  color: white;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  gap: 10px;
}

.select__all {
  top: 180px;
  right: calc(250px/2 - 100px);
}
