@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Montserrat:wght@200&family=Permanent+Marker&display=swap");


.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* border: rgb(179, 176, 176) solid 2px; */
  border-radius: 10px;
  height: 60px;
  width: 120px;
  cursor: pointer;
  text-align: center;
}

.restaurant {
  background-color: #8cbec2;
}

.coffee {
  background-color: #EFC4AE;
}

.nature {
  background-color: #F8CE6D;
}

.activity {
  background-color: #5A7089;
}

.unselected {
  background-color: #eeeeee;
}

.typeOfPlace {
  font-family: Montserrat;
  font-size: 11px;
  color: white;
}

.grid__container {
  display: none;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  gap: 10px; */
}

/* .select__all {
  position: absolute;
  top: 45%;
} */

.select__all {
  background-color: #EEEEEE;
  color: rgb(128, 128, 128, 0.6);
  font-family: Montserrat;
  border: rgb(101, 100, 100);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

.select__all:hover {
  background-color: #b2b1b1;
  color: white;
  cursor: pointer;
}

.button__off {
  /* border: 5px solid#a8a7a7; */
  background-color: #b2b1b1;
  color: white;
}

@media (min-width: 840px) {
  .grid__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    gap: 10px; */
  }
}
