.personal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.personal__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  padding: 30px 30px 20px 30px;
  background-color: rgba(233, 233, 233, 0.6);
  border-radius: 25px;
}

.personal__foto {
  width: 50%;
  padding: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid white;
  box-shadow: black 4px 6px 20px;
}

.personal__title {
  position: relative;
  top: 21%;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.personal__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  color: black;
  line-height: 1.5;
  font-size: 15px;
}

.gitHub {
  background-color: gray;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  margin: 60px;
}

@media (min-width: 840px) {}
