@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #fff;
  color: #333;
  padding: 30px 20px 30px 30px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./components/Header/img/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 900px;
  background-position: 10% 45%;
}

.title__main {
  font-size: 200%;
  text-shadow: -2px -2px 0 rgb(255, 255, 255),
    2px -2px 0 rgb(255, 255, 255),
    -2px 2px 0 rgb(255, 255, 255),
    2px 2px 0 rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.description_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 90%;
  /* min-width: 600px; */
  height: 95%;
  padding: 30px 30px 20px 30px;
  background-color: rgba(233, 233, 233, 0.6);
  border-radius: 25px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  height: 80%;
}

.description__question {
  font-size: 90%;
  font-weight: bold;
}

.description__introduction {
  font-size: 80%;
}

.description__project {
  font-size: 80%;
  margin: 0 0 10px 0;
}

.figma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figma_picture {
  width: 50%;
  padding: 10px;
  border-radius: 25px;
}

/* .footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0px;
  min-width: 319px;
} */

/* .footer__name {
  font-size: 16px;
}

.footer__since {
  font-size: 14px;
} */

.whereToGo {
  background-color: gray;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  /* width: 90%; */
}

.menu {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  color: #333;
  position: absolute;
  z-index: 3;
  top: 40px;
  right: 0;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger-menu {
  position: relative;
}

.menu__item {
  margin-bottom: 10px;
}

.menu.active {
  display: block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin-bottom: 4px;
  transition: background-color 0.3s;
}

.hamburger-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu .rowMenu__elm {
  display: block;
  color: #000;
  text-decoration: none;
  margin: 5px;
}

.rowMenu a:hover {
  /* background-color: #d4d4d4; */
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  /* font-size: 25px; */
}

.rowMenu__elm {
  background-color: rgb(255, 255, 255, 0.7);

}

.active {
  background-color: #c1c1c1;
}

.rowMenu {
  display: none;
}

a {
  padding: 20px 10px 20px 10px;
  text-decoration: none;
  color: #333;
}

.different__size {
  position: absolute;
  top: 25%;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
}

/* Responsivní styly */
@media (min-width: 840px) {
  .rowMenu {
    display: flex;
    flex-direction: row;
  }

  .hamburger-icon {
    display: none;
  }

  .title__main {
    font-size: 200%;
  }

  .description__question {
    font-size: 25px;
  }

  .description__introduction,
  .description__project {
    font-size: 20px;
  }

  .figma_picture {
    width: 50%;
    max-width: 680px;
    cursor: pointer;
  }

  .different__size {
    position: absolute;
    top: 25%;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
  }



  /* .rowMenu__elm:active {
    font-size: 25px;
  } */
}
